$primary: #4299e1 !default;
$secondary: #dde1e3 !default;
$success: #8ac926 !default;
$info: #eee82c !default;
$warning: #ff9505 !default;
$danger: #ec4e20 !default;
$light: #edf3f6 !default;
$dark: #484b50 !default;
$transparent: transparent !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
    'transparent': $transparent
  ),
  $theme-colors
);